html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #333; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Contain floats. */
.cf:after, .header:after, .masthead:after {
  content: ' ';
  display: block;
  clear: both; }

html {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

.unit {
  position: relative;
  width: 50%;
  height: 400px;
  background-color: #f5f5f5;
  float: left;
  overflow: hidden; }
  .unit:hover .inner {
    top: -6px;
    transition: top 0.3s ease-in-out; }
  @media screen and (max-width: 840px) {
    .unit {
      width: 100%;
      height: 300px; } }
  @media screen and (min-width: 1140px) {
    .unit {
      width: 33.333%; } }
  @media screen and (min-width: 1540px) {
    .unit {
      width: 25%; } }
  .unit .inner {
    top: 0;
    position: absolute;
    width: 100%;
    height: 104%;
    background-position: center;
    background-size: cover;
    float: left;
    transition: top 0.3s ease-in-out; }
  .unit .grad {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 60%;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top center, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    z-index: 4; }

.p-lightcube {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZTZlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlZjZjZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #b5e6ea), color-stop(100%, #bef6cf));
  background-image: -moz-linear-gradient(top, #b5e6ea, #bef6cf);
  background-image: -webkit-linear-gradient(top, #b5e6ea, #bef6cf);
  background-image: linear-gradient(to bottom left, #b5e6ea, #bef6cf); }
  .p-lightcube .inner {
    background-image: url("../img/cube.png"); }

.p-clouds {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYzNmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmYjZmZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #b3c3fa), color-stop(100%, #dfb6fd));
  background-image: -moz-linear-gradient(bottom, #b3c3fa, #dfb6fd);
  background-image: -webkit-linear-gradient(bottom, #b3c3fa, #dfb6fd);
  background-image: linear-gradient(to top right, #b3c3fa, #dfb6fd); }
  .p-clouds .inner {
    background-image: url("../img/clouds.png"); }

.p-island {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwYWFhMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M5ZmVmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #e0aaa3), color-stop(100%, #c9fef9));
  background-image: -moz-linear-gradient(top, #e0aaa3, #c9fef9);
  background-image: -webkit-linear-gradient(top, #e0aaa3, #c9fef9);
  background-image: linear-gradient(to bottom right, #e0aaa3, #c9fef9); }
  .p-island .inner {
    background-image: url("../img/island.png"); }

.p-dark {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMTIyNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE2MTkyNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #121224), color-stop(100%, #161925));
  background-image: -moz-linear-gradient(bottom, #121224, #161925);
  background-image: -webkit-linear-gradient(bottom, #121224, #161925);
  background-image: linear-gradient(to top right, #121224, #161925); }
  .p-dark .inner {
    background-image: url("../img/dark.png"); }

.p-cubes {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzYzNmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I1ZTZlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #b3c3fa), color-stop(100%, #b5e6ea));
  background-image: -moz-linear-gradient(bottom, #b3c3fa, #b5e6ea);
  background-image: -webkit-linear-gradient(bottom, #b3c3fa, #b5e6ea);
  background-image: linear-gradient(to top right, #b3c3fa, #b5e6ea); }
  .p-cubes .inner {
    background-image: url("../img/cubes.png"); }

.p-squaregif {
  background-color: black; }
  .p-squaregif .inner {
    background-image: url("../img/square.gif"); }

.header {
  height: 54px;
  background-color: white; }
  .header .inner {
    width: 100%;
    padding: 0 32px; }
    .header .inner > .logo {
      line-height: 54px;
      font-weight: bold;
      font-size: 1.1em;
      text-transform: uppercase;
      color: black;
      float: left; }
    .header .inner > nav {
      float: right; }
      .header .inner > nav a {
        line-height: 54px;
        font-size: 0.9em;
        color: #999;
        padding: 0 16px; }

.masthead {
  position: relative;
  width: 100%; }
  .masthead .inner {
    position: relative;
    margin: 0 auto; }
  .masthead .text {
    position: relative; }
    .masthead .text .content {
      position: relative;
      padding: 48px; }
    .masthead .text h1 {
      font-size: 1.9em;
      line-height: 1.257;
      color: #555;
      margin-bottom: 18px;
      width: 80%; }
    .masthead .text p {
      font-size: 1.2em;
      line-height: 1.557;
      width: 92%; }
    .masthead .text .read {
      position: absolute;
      top: 12px;
      right: 12px;
      z-index: 5;
      border: 3px solid #333;
      padding: 10px 16px;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      color: #333;
      font-size: 1.1em;
      transition: background-color 0.3s; }
      .masthead .text .read:hover {
        background-color: #333;
        color: white;
        transition: background-color 0.3s; }

.overlay {
  display: none;
  top: 54px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(248, 248, 248, 0.96); }
  .overlay .close {
    position: fixed;
    top: 56px;
    right: 26px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 38px;
    color: #999; }
  .overlay .about {
    position: relative;
    left: -300px;
    width: 600px;
    margin-left: 50%;
    position: 0 auto; }
    @media screen and (max-width: 840px) {
      .overlay .about {
        position: static;
        margin: 0;
        width: 100%;
        padding: 24px; } }
    .overlay .about h2 {
      line-height: 54.08px;
      font-size: 42px;
      font-style: normal;
      font-weight: bold;
      margin-top: 63px; }
    .overlay .about p {
      margin-top: 28px;
      font-size: 21px;
      letter-spacing: -0.063px;
      line-height: 33.18px;
      word-wrap: break-word; }
