html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #333; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Contain floats. */
.cf:after, .header:after, .masthead:after {
  content: ' ';
  display: block;
  clear: both; }

html {
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

.unit {
  width: 50%;
  height: 400px;
  background-color: #f5f5f5;
  float: left;
  overflow: hidden; }
  @media screen and (max-width: 840px) {
    .unit {
      width: 100%; } }
  @media screen and (min-width: 1240px) {
    .unit {
      width: 33.333%; } }

.header {
  height: 54px;
  background-color: white; }
  .header .inner {
    width: 100%;
    padding: 0 32px; }
    .header .inner > .logo {
      line-height: 54px;
      font-weight: bold;
      font-size: 1.1em;
      text-transform: uppercase;
      color: black;
      float: left; }
    .header .inner > nav {
      float: right; }
      .header .inner > nav a {
        line-height: 54px;
        font-size: 0.9em;
        color: #999;
        padding: 0 16px; }

.masthead {
  position: relative;
  width: 100%; }
  .masthead .inner {
    position: relative;
    margin: 0 auto; }
  .masthead-feature-1 {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZTZlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlZjZjZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #b5e6ea), color-stop(100%, #bef6cf));
    background-image: -moz-linear-gradient(top, #b5e6ea, #bef6cf);
    background-image: -webkit-linear-gradient(top, #b5e6ea, #bef6cf);
    background-image: linear-gradient(to bottom left, #b5e6ea, #bef6cf);
    float: left; }
    .masthead-feature-1 .element {
      top: 30px;
      transition: top 0.3s ease-in-out;
      left: 40px;
      width: 50%;
      height: 100%;
      background-image: url("../img/cube.png");
      background-size: 100%;
      background-repeat: no-repeat;
      cursor: pointer; }
      .masthead-feature-1 .element:hover {
        top: 26px;
        transition: top 0.3s ease-in-out; }
    .masthead-feature-1 .content {
      position: absolute;
      width: 320px;
      top: 100px;
      left: 500px; }
      .masthead-feature-1 .content > h1 {
        font-size: 1.9em;
        line-height: 1.257;
        color: white;
        margin-bottom: 12px; }
      .masthead-feature-1 .content > a {
        border: 3px solid white;
        padding: 10px 16px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 1.1em; }
  .masthead-feature-2 .content {
    padding: 48px; }
  .masthead-feature-2 h1 {
    font-size: 1.9em;
    line-height: 1.257;
    color: #555;
    margin-bottom: 18px;
    width: 60%; }
  .masthead-feature-2 p {
    font-size: 1.2em;
    line-height: 1.557;
    width: 80%; }
  .masthead-feature-2 a {
    margin-top: 32px;
    border: 3px solid #333;
    padding: 10px 16px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
    transition: background-color 0.3s; }
    .masthead-feature-2 a:hover {
      background-color: #333;
      color: white;
      transition: background-color 0.3s; }

.header {
  height: 54px;
  background-color: white; }
  .header .inner {
    width: 100%;
    padding: 0 32px; }
    .header .inner > .logo {
      line-height: 54px;
      font-weight: bold;
      font-size: 1.1em;
      text-transform: uppercase;
      color: black;
      float: left; }
    .header .inner > nav {
      float: right; }
      .header .inner > nav a {
        line-height: 54px;
        font-size: 0.9em;
        color: #999;
        padding: 0 16px; }

.masthead {
  position: relative;
  width: 100%; }
  .masthead .inner {
    position: relative;
    margin: 0 auto; }
  .masthead-feature-1 {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1ZTZlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlZjZjZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #b5e6ea), color-stop(100%, #bef6cf));
    background-image: -moz-linear-gradient(top, #b5e6ea, #bef6cf);
    background-image: -webkit-linear-gradient(top, #b5e6ea, #bef6cf);
    background-image: linear-gradient(to bottom left, #b5e6ea, #bef6cf);
    float: left; }
    .masthead-feature-1 .element {
      top: 30px;
      transition: top 0.3s ease-in-out;
      left: 40px;
      width: 50%;
      height: 100%;
      background-image: url("../img/cube.png");
      background-size: 100%;
      background-repeat: no-repeat;
      cursor: pointer; }
      .masthead-feature-1 .element:hover {
        top: 26px;
        transition: top 0.3s ease-in-out; }
    .masthead-feature-1 .content {
      position: absolute;
      width: 320px;
      top: 100px;
      left: 500px; }
      .masthead-feature-1 .content > h1 {
        font-size: 1.9em;
        line-height: 1.257;
        color: white;
        margin-bottom: 12px; }
      .masthead-feature-1 .content > a {
        border: 3px solid white;
        padding: 10px 16px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        font-size: 1.1em; }
  .masthead-feature-2 .content {
    padding: 48px; }
  .masthead-feature-2 h1 {
    font-size: 1.9em;
    line-height: 1.257;
    color: #555;
    margin-bottom: 18px;
    width: 60%; }
  .masthead-feature-2 p {
    font-size: 1.2em;
    line-height: 1.557;
    width: 80%; }
  .masthead-feature-2 a {
    margin-top: 32px;
    border: 3px solid #333;
    padding: 10px 16px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    font-size: 1.1em;
    transition: background-color 0.3s; }
    .masthead-feature-2 a:hover {
      background-color: #333;
      color: white;
      transition: background-color 0.3s; }
