@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Yanone+Kaffeesatz:400,700,200);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #333; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #666;
  color: #fff;
  text-shadow: none; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Contain floats. */
.cf:after {
  content: ' ';
  display: block;
  clear: both; }

html, html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

p, a, li, code, i {
  font-family: 'Lato', sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #ffffff; }
  nav h2 {
    line-height: 80px;
    letter-spacing: 0.08em;
    font-weight: bold;
    display: block;
    height: 80px;
    margin: auto;
    flex: 1; }
  nav a.headline {
    width: 180px;
    padding: 0 24px; }
  nav a.chapter {
    display: block;
    height: 80px;
    margin: auto;
    padding: 16px 24px;
    border-left: 1px solid #efefef;
    transition: all 0.3s;
    flex: 2; }
    nav a.chapter:hover {
      background-color: #f7f7f7;
      transition: all 0.3s; }
    nav a.chapter h3 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 8px;
      text-transform: uppercase; }
    nav a.chapter p {
      font-size: .85em;
      font-style: italic;
      color: #bbb; }

section {
  width: 100%;
  height: 1500px; }
  section h1 {
    font-size: 2.6em;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    color: white; }

section.start {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36b5ec+0,8cebb5+67,cbc999+100 */
  background: #36b5ec;
  /* Old browsers */
  background: -moz-linear-gradient(-35deg, #36b5ec 0%, #8cebb5 67%, #cbc999 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-35deg, #36b5ec 0%, #8cebb5 67%, #cbc999 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(155deg, #36b5ec 0%, #8cebb5 67%, #cbc999 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b5ec', endColorstr='#cbc999',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  section.start h1 {
    padding-top: 300px; }
  section.start .start1 {
    position: fixed;
    width: 600px;
    top: 500px;
    right: 12%; }
  section.start .start2 {
    position: fixed;
    width: 400px;
    top: 700px;
    left: 22%; }
  section.start .start3 {
    position: fixed;
    width: 400px;
    top: 850px;
    left: 16%; }
