// Typography

// Font smoothing hack
html, html a {
  text-shadow: 1px 1px 1px rgba(0,0,0,.004);

  -webkit-font-smoothing: antialiased !important;
}

a {
  text-decoration: none;

  color: inherit;
  &:visited {
    color: inherit;
  }
}

.f-serif {
  font-family: "Lato", sans-serif;
}

.f-sans-serif {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4 {
  @extend .f-sans-serif;
}

p, a, li, code, i {
  @extend .f-serif;
}