// Chapter 3 - Make
.ch3_title {
  z-index: 43;
  top: 360px;
}

.ch3-block {
  position: fixed;
  z-index: 39;
  top: 2240px;
  left: 50%;

  width: 1600px;
  margin-left: -800px;
}

#three {
  position: relative;
  z-index: 39;

  width: 100%;
  height: 900px;

  background: #fdbbfd; /* Old browsers */
  background: -moz-linear-gradient(-35deg,  #fdbbfd 0%, #d9d6fe 67%, #a1ffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-35deg,  #fdbbfd 0%,#d9d6fe 67%,#a1ffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(155deg,  #fdbbfd 0%,#d9d6fe 67%,#a1ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDBBFD', endColorstr='#A1FFFF',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .article-wrap {
    position: absolute;

    width: 100%;
    padding-top: 1400px;

    background-color: #ffffff;
  }
  article {
    // background-color: #fff;
  }
  &.inactive {
    img {
      display: none;
    }
  }
}

#three-text {
  position: relative;
  z-index: 59;

  background-color: #ffffff;
}