.ch4_title {
  top: 360px;
}

#four {
  position: relative;
  z-index: 57;

  width: 100%;
  height: 900px;

  background: #000F22; /* Old browsers */
  background: -moz-linear-gradient(-35deg,  #000F22 0%, #223048 67%, #102A4E 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-35deg,  #000F22 0%,#223048 67%,#102A4E 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(155deg,  #000F22 0%,#223048 67%,#102A4E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000F22', endColorstr='#102A4E',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  .article-wrap {
    position: absolute;

    width: 100%;
    padding-top: 1400px;

    background-color: #ffffff;
  }
  article {
    // background-color: #fff;
  }
  &.inactive {
    img {
      display: none;
    }
  }

}

#four-text {
  position: relative;
  z-index: 69;

  background-color: #ffffff;
}