// Index

html, body {
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;

  display: flex;

  width: 100%;
  height: 80px;

  background-color: #ffffff;
  h2 {
    line-height: 80px;
    letter-spacing: 0.08em;
    font-weight: bold;

    display: block;

    height: 80px;
    margin: auto;

    flex: 1;
  }
  a.headline {
  	width: 180px;
  	padding: 0 24px;
  }
  a.chapter {
    display: block;

    height: 80px;
    margin: auto;
    padding: 16px 24px;

    border-left: 1px solid #efefef;
    transition: all 0.3s;

    flex: 2;
    &:hover {
			background-color: #f7f7f7;
			transition: all 0.3s;
    }
    h3 {
      font-size: 1em;
      font-weight: bold;

      margin-bottom: 8px;

      text-transform: uppercase;
    }
    p {
      font-size: .85em;
			font-style: italic;
      color: #bbb;
    }
  }
}

section {
  width: 100%;
  height: 1500px;
  h1 {
    font-size: 2.6em;
    font-weight: bold;

    display: block;

    width: 100%;

    text-align: center;

    color: white;
  }
}

section.start {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#36b5ec+0,8cebb5+67,cbc999+100 */
  background: #36b5ec; /* Old browsers */
  background: -moz-linear-gradient(-35deg,  #36b5ec 0%, #8cebb5 67%, #cbc999 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-35deg,  #36b5ec 0%,#8cebb5 67%,#cbc999 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(155deg,  #36b5ec 0%,#8cebb5 67%,#cbc999 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b5ec', endColorstr='#cbc999',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  h1 {
    padding-top: 300px;
  }

  .start1 {
  	position: fixed;
  	width: 600px;
  	top: 500px;
  	right: 12%;
  }

  .start2 {
  	position: fixed;
  	width: 400px;
  	top: 700px;
  	left: 22%;
  }

  .start3 {
  	position: fixed;
  	width: 400px;
  	top: 850px;
  	left: 16%;
  }
}