@import "compass";

.p-lightcube {
	@include background-image(linear-gradient(to bottom left, #b5e6ea, #bef6cf));
	.inner { background-image: url("../img/cube.png"); }
}

.p-clouds {
	@include background-image(linear-gradient(to top right, #b3c3fa, #dfb6fd));
	.inner { background-image: url("../img/clouds.png"); }
}

.p-island {
	@include background-image(linear-gradient(to bottom right, #e0aaa3, #c9fef9));
	.inner { background-image: url("../img/island.png"); }
}

.p-dark {
	@include background-image(linear-gradient(to top right, #121224, #161925));
	.inner { background-image: url("../img/dark.png"); }
}

.p-cubes {
	@include background-image(linear-gradient(to top right, #b3c3fa, #b5e6ea));
	.inner { background-image: url("../img/cubes.png"); }
}

.p-squaregif {
	background-color: black;
	.inner { background-image: url("../img/square.gif"); }
}